@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

:root{
    --stdPadding: 0px;
    --stdMargin: 0px;
    --green: #92ca5b;
}

body{
    margin: 36px;
    padding: 0;
    line-height: 1.5;
}
main{
    margin: 42px 64px;
}

.container{
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
}

article{
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    gap: 1rem;
    flex-direction: column;
}

.excerpt{
    padding-left: 1rem;
}

.description{
    padding-left: 1rem;
}


h4{
    text-align: center;
}


/*-------------------------Nav---------------------------*/
.navBtn button{
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    padding: 8px 20px;
    border: 2px solid black;
    letter-spacing: 2.5px;
    height: 2rem;
}
.navBtn{
    display: flex;
    justify-content: space-between;
}
#signUpBtn{
    background-color: #92ca5b;
    color: white;
    border: 2px solid var(--green);
}

.logo{
    max-width: 170px;
    margin-top: 16px;
}

.navNav{
    display: flex;
    justify-content: space-between;
}
.navNav ul{
    font-weight: 700;
    display: flex;
    gap: 32px;
    letter-spacing: 2.5px;
}
.activeNav a{
    color: #92ca5b;
    border-bottom: 2px solid var(--green);
}

a{
    text-decoration: none;
    color: black;
}


/*------------------------Nav Slut----------------------------*/
/*----------------------------------------------------*/
.btn{
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    padding: 16px 24px;
    border: 2px solid black;
    letter-spacing: 2.5px;
    height: 3rem;
}
.btn:hover{
    background-color: rgb(219, 219, 219);
    transition: 0.3s;
}

.h2Line{
    position: relative;
  }
  
  /* .h2Line:before{
    content:" ";
    height: 2px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  } */
  
  .h2Line:after{
    content:" ";
    height: 3px;
    background: var(--green);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 89%;
  }


.categoryFEPGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.categoryFEP{
    display: flex;
    flex-direction: column;
}
.categoryFEP img{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
}
.imgSqrWrapper{
    
    width: 200px;
    height: 200px;
    overflow: hidden;
}


.accordion {
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    padding: 16px 24px;
    border: 2px solid black;
    letter-spacing: 2.5px;
    text-align: left;
    height: 3rem;
}
.active, .accordion:hover {
    background-color: rgb(219, 219, 219);
    transition: 0.3s;
}
.accordionFilterBtns{
    padding: 0px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796";
}


  