@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

:root{
    --stdPadding: 0px;
    --stdMargin: 0px;
    --green: #92ca5b;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container{
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    /* grid-template-columns: repeat(2, 1fr); */
}

article{
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    gap: 1rem;
    flex-direction: column;
}

.excerpt{
    padding-left: 1rem;
}

.description{
    padding-left: 1rem;
}


h4{
    text-align: center;
}

/*----------------------------------------------------*/
.moreBtn{
    cursor: pointer;
    background-color: var(--green);
    font-weight: 700;

}
