@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

:root{
    --stdPadding: 0px;
    --stdMargin: 0px;
    --green: #92ca5b;
}

body{
    margin: 4rem 18.75rem;
    padding: 0;
    line-height: 1.5;
}
main{
    margin: 42px 64px;
    position: relative;
}

.container{
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
}



.excerpt{
    padding-left: 1rem;
}

.description{
    padding-left: 1rem;
}

h3{
    margin: 6px;
}


/*-------------------------Nav---------------------------*/
.navBtn button{
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    padding: 8px 20px;
    border: 2px solid black;
    letter-spacing: 2.5px;
    height: 2rem;
}
.navBtn{
    display: flex;
    justify-content: space-between;
}
#signUpBtn{
    background-color: #92ca5b;
    color: white;
    border: 2px solid var(--green);
}

.logo{
    max-width: 170px;
    margin-top: 16px;
}

.navNav{
    display: flex;
    justify-content: space-between;
}
.navNav ul{
    font-weight: 700;
    display: flex;
    gap: 32px;
    letter-spacing: 2.5px;
}
.activeNav a{
    color: #92ca5b;
    border-bottom: 2px solid var(--green);
}

a{
    text-decoration: none;
    color: black;
    margin: 24px 0px;
}


/*------------------------Nav Slut----------------------------*/



/*------------------------knapper-----------------------*/
.btn{
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    padding: 10px 16px;
    border: 2px solid black;
    letter-spacing: 2.5px;
    height: 3rem;
    display: inline-block;
}
.btn:hover{
    background-color: rgb(219, 219, 219);
    transition: 0.3s;
}

/*-----------------------------------------------------------------------*/



/*-----------------------------h2 og linjer der til-----------------------------*/


.h2Line {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.h2Line::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 50vw;
    height: 3px;
    background-color: var(--green);
    transform: translateY(-50%);
}

/*-----------------------------------------------------------------------*/

/*------------------------------grid i hero, FEP til opskrifter---------------------------------*/
.heroRecCont{
    display: grid;
    gap: 2rem;
    margin: 24px 0px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.focusedArticleHero, .topArticleHero, .bottomArticleHero{
    border: none; 
    position: relative;
}
.focusedArticleHero{
    grid-column: 1 / 2;
    grid-row: 1 /  3;
}
.topArticleHero{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.bottomArticleHero{
    grid-column: 2 / 3;
}

.imgHero, .imgHeroBig{
    width: 100%;
    height: 100%;
}

.recipeTitleOnImg{
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    padding: 4px 12px;
    font-size: 28px;
    letter-spacing: 2.5px;
    height: 3rem;

    position: absolute;
    bottom: 3rem;
    left: 3rem;
}
/*-------------------------------------------------------------------------*/


/*-------------------------------Local nav med cirkler------------------------------*/
.categoryFEPGrid{
    margin: 36px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categoryFEP, .categoryFEPMoreBtn{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.categoryFEPMoreBtn{
    background-color: #92ca5b;
}
 
.categoryFEP img, .categoryFEPMoreBtn{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.arrowRight{
    color: white;
    font-size: 36px;
    left: 50%;
}


/*-----------------------------------------------------------------------*/
/*--------------------------seasonal recipies--------------------------------*/
.seasonal, .featuredArticles{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.seasonal img, .featuredArticles img{
    max-width: 90%;
}
.FEP{
    display: flex;
    flex-direction: row;
}
.tags{
    display: flex;
}
.seasonal h4, .featuredArticles h4{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 6px 0px;
}
/*-----------------------------------------------------------------------*/




/*-----------------Filtering & accordion------------------------------------*/

.filterContainer{
   width: 13%;
   margin-top: 12px;
   display: flex;
   flex-direction: column;
   gap: 3px;
}

.searchFilter{
    background: #fff;
    border: 2px solid black;
    line-height: 24px;
    padding: 14px 16px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 2.5px;
    box-shadow: 4px 4px 0 var(--green);
    margin-bottom: 36px;
}

.accordion {
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    padding: 16px;
    border: 2px solid black;
    letter-spacing: 2.5px;
    text-align: left;
    height: 3rem;
    width: 100%;
}
.active, .accordion:hover {
    
    transition: 0.3s;
}
.accordionFilterBtns{
    padding: 0px 18px;
    display: none;
    overflow: hidden;
    border: 1px solid grey;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796";
}

/*-----------------------------------------------------------------------*/
  /* Cale */
  .caleRecipe{
    display: grid;
    gap: 0 2rem;
    margin: 24px 0px;
    grid-template-columns: 2fr 1fr;
  }
  .caleRecipe img{
    max-width: 500%;
  }
  .caleRecipe h1,h3, h4{
    grid-column: 1 / -1;
    margin: 0.2rem;
  }

  .servingsCon{
    display: flex;
    justify-content: start;
  }

  .servingsCon img{
    width: 2rem;
    margin: 1rem;
  }

  .servings{
    display: flex;
    flex-direction: column;
   margin: 0;
  }
  
  .cookTime{
    display: flex;
    gap: 2rem;
  }

  .cookTime img{
    width: 2rem;
  }

  .servings input{
    width: 20%;
    margin: 1rem;
  }

  .cook{
    display: flex;
    flex-direction: column;
  }

  .containerPrep{
    display: flex;
  }

figure{
text-wrap: nowrap;}